body{
    background-color: black;
}
.brandimg {
    text-align: center;
    padding: 5px 5px 5px 5px;
    float: inherit;
  }
  .postbar {
      color: whitesmoke;
      float: inherit;
      text-align: center;
  }