<div id="header">
    <nav>
        <a class="btn" routerLink="home" routerLinkActive="active">Home</a>
        <a class="btn" routerLink="film" routerLinkActive="active">Film</a>
        <a class="btn" routerLink="music" routerLinkActive="active">Music</a>
        <a class="btn" routerLink="gaming" routerLinkActive="active">Gaming</a>
        <a class="btn" routerLink="health" routerLinkActive="active">Health</a>
        <a class="btn" routerLink="news" routerLinkActive="active">News</a>
        <a class="btn" routerLink="sports" routerLinkActive="active">Sports</a>
        <a class="btn" routerLink="tech" routerLinkActive="active">Tech</a>
    </nav>  
  </div>
<router-outlet></router-outlet>
