<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
  <div class="logopic">
    <img src="https://mail.google.com/mail/u/0?ui=2&ik=2c59c650f2&attid=0.1&permmsgid=msg-a:r-2489054625464355863&th=170d171f3fa073cb&view=att&disp=safe&realattid=f_k7phjbs00">
  </div>

  <div class="wording">
    <h1>Gaming</h1>
    <h3>Discussion Board</h3>
  </div>

  <form class="input">
    <label for="uname"> Name:</label><br>
    <input type="text" id="uname" name="uname">
  </form>
  
   
  <div class="posts">
    <label for="posts"> Your Post:</label><br>
    <textarea id="myTextarea"></textarea>
  </div>

  <button id="button" onclick="myFunction()">P O S T</button>
  
    <h1>
      Gaming Post:
    </h1>

    <ul>
      <li *ngFor="let gaming of gamings">
        <h4>{{gaming.id + 1}}. {{gaming.name}}</h4>
        <h2>{{gaming.message}}</h2>
      </li>
    </ul>

    

    <script>
      function myFunction() {
    var uname = document.getElementById("uname").value;
    var myTextarea = document.getElementById("myTextarea").value;


    var fullPost = uname + " " + myTextarea;
    document.getElementById("fullPost").innerHTML = fullPost;
}
    </script>
</body>
</html>
